// @import "_variables.scss";

.banner__about {
 

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assets/Fondo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}



.banner__about {
    h1 {
        color: white;
        font-size: 40px;

        @media screen and (max-width: 320px) {
            font-size: 25px;

        }
        @media screen and (max-width: 160px) {
            font-size: 10px
        }
    }

    @media screen and (max-width: 830px) {
        height: 300px;
    }
}

.imagenStory__about {
    img{
        @media screen and (max-width: 830px) {
            width: 50%;
        }
    }
    
}



.story {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        font-size: 30px;
        width: 80%;
        @media screen and (max-width: 830px) {
            font-size: 20px;
        }
        @media screen and (max-width: 160px) {
            font-size: 10px;
        }
    }
}



.imagenStory__about {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}



.story2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    p {

        width: map-get($estilos , ancho);
        font-size: map-get($estilos , tfuente );
        text-align: map-get($estilos , centro );

        @media screen and (max-width: 830px) {
            font-size: 20px;
        }
        @media screen and (max-width: 160px) {
            font-size: 10px;
        }
    }

}


@each $item, $color in $cards{
    .material-#{$item}{
        
        color: $color;

        font-size: 40px !important;
        @media screen and (max-width: 160px) {
            font-size: 20px !important;
        }
    }
}

.about_cards {
    display: grid;
    
    grid-template-columns: 0.8fr 0.8fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 5% 5%;
    grid-auto-flow: row;
    grid-template-areas:
        "card1 card2"
        "card3 card4";

        @media screen and (max-width: 320px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "card1"
                "card2"
                "card3"
                "card4";
      
        }
    }
          
.about_card1{
    grid-area: card1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    

    @media screen and (max-width: 320px) {
        align-items: center;
    }

    h2{
        @media screen and (max-width: 160px) {
            font-size: 12px;
        }
    }
    
    p{
        font-size: 20px;
        @media screen and (max-width: 160px) {
            font-size: 8px;
        }
    }
}


.about_card2{

    grid-area: card2;
    @extend .about_card1;


    @media screen and (max-width: 320px) {
        align-items: center;
    }

    h2{
        @media screen and (max-width: 160px) {
            font-size: 12px;
        }
    }
    
    p{
        font-size: 20px;
        margin: 2px 0;
        @media screen and (max-width: 160px) {
            font-size: 8px;
        }
    }
    
}

.about_card3 {
   
    grid-area: card3;
    @extend .about_card1;

    @media screen and (max-width: 320px) {
        align-items: center;
    }

    h2{
        @media screen and (max-width: 160px) {
            font-size: 12px;
        }
    }
    
    p{
        font-size: 20px;
        margin: 2px 0;
        @media screen and (max-width: 160px) {
            font-size: 8px;
        }
    }
}

.about_card4 {
 
    grid-area: card4;
    @extend .about_card1;



    @media screen and (max-width: 320px) {
        align-items: center;
    }

    h2{
        @media screen and (max-width: 160px) {
            font-size: 12px;
        }
    }
    
    p{
        font-size: 20px;
        margin: 2px 0;
        @media screen and (max-width: 160px) {
            font-size: 8px;
        }
    }
}


