.bag_container{
    display: flex;
    // flex-direction: column;
    justify-content: start;
    // background-color: aqua;
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
}


.bag_row_1{
    width: 50%;
    // background-color: antiquewhite;

    img{
    width: 100%;
    }
}

.bag_row_2{

    width: 50%;
    // background-color:gainsboro;
    padding-left: 50px;

    .bag_col_title{
        font-size:2em;
        // text-align: center;
        // color: white;

    }


    .bag_col_precio{
       font-size: 1.6em;
        // color: white;
        margin-bottom: 3%;
        
    }

    .bag_col_size{
        font-size:1.3em;
   

    }
    
    
    .bag_col_size_desc{
        font-size:1em;
        margin-bottom: 3%;
    }
    
    .bag_col_cantidad{
        font-size:1.3em;
        
    }

    .bag_col_cant_desc{
        font-size:1em;
        margin-bottom: 3%;
    }

    .bag_col_BtnaddCart{
        
        width: 40%;
        font-size: 1.2em;
        font-weight: 500;
        border: 1px solid;
        border-color: #ef3f49;
        border-radius: 1px;
        color: #ef3f49;
        text-align: center;
    
        background: transparent;
        padding: 1% 1%;

        margin-bottom: 5%;

        &:hover {

            background-color: rgba(255, 0, 0, 0.952);
            color: white;
      
            font-weight: 550;
          }

    }


    .bag_col_Detalles{
        
        font-size:1.3em;
        // color: white;
        margin-bottom: 1%;
    }


 
}

