.mapa{
    height: 600px ;

}

.contact_info {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    
    }
    
    .visit {
        width: 280px;
        height: 150px;
        background-color: white;
   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -50px;

        @media screen and (max-width: 768px) {
            margin-top: inherit;
            border-bottom: 1px solid;
        
        }
      

    }

    .talk {

        @extend .visit;
    }

    .working{

        @extend .visit;
        
    }
}


.tituloContacto {
    margin: 3% auto;
    @media screen and (max-width: 768px) {
        margin-top: 10%;
    }
    

}
