footer {
    background-color: black;

    div{
        display: flex;
        justify-content: space-between;
  
        color: white;

        @media screen and (max-width: 768px) {
            // align-content: center;
        flex-direction: column;
        align-items: center;
        }
    
    }

    p{
        font-size: 30px;

    }

    
}