footer {
    display: flex;
    background-color: black;
    justify-content: space-around;
    color: white;
    width: 100%;

    p{
        font-size: 30px;
        @media screen and (max-width: 160px) {
            font-size: 10px;
        }
    }

    
    @media screen and (max-width: 320px) {

        display: flex;
        flex-direction: column;
        background-color: black;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100%;
    }
  
}