

.prod_color{
  background-color: #f4f2f2;
}

.banner__producto {
 

  background-image: url("../Assets/Fondo2.jpg");    
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
   height: 400px;

   h1 {
    color: white;
    font-size: 40px;
    }

}

.container_prod{

  display: flex;
  justify-content: space-between;
  
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;

  padding: 40px 0;
  
  @media screen and (max-width: 992px) {
    flex-direction: column;
   
  }   
  .row_cat_prod{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    outline: 1px solid #eeeeee;
    background-color: white;

    .col_cat_prod{
      // outline: 1px solid #eeeeee;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.08);

      margin: 2% 2%;
      width: 26%;
      position: relative;
  
      img{
          width: 100%;
          height: auto;
      }

      @media screen and (max-width: 992px) {
      
        width: 46%;
      }

      @media screen and (max-width: 768px) {
      
        width: 80%;
      }

    }
  
  }

  .sale_produc{
    position:absolute;
    top:10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 14px;

  }
}


.prod_cart{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  
 
  
  .prod_price{
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 1400px) {
      width: 100%;
      flex-wrap: wrap;
     
    } 
    
    @media screen and (max-width: 992px) {
      width: inherit;
      flex-wrap: inherit;
     
    }    

    @media screen and (max-width: 576px) {
      width: 100%;
      flex-wrap: wrap;
     
    }  
  }

  .prod_priceBefore{
    text-decoration: line-through;
    
  }
  .prod_priceCurrently{
    margin-left: 2%;
    font-size: 1.1em;
    color: red;
    
  }



  .prod_addCart{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
   
    
  }

}

.prod_segundaSeccion{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.08);
  width: 100%;
  margin-left:3%;
  padding: 2% 3%;
  background-color: white;

  @media screen and (max-width: 992px) {
  
    margin-left: inherit;
    margin-top: 3%;
    
  } 

  div{

    .prod_cajaDetalle{
      display: flex;
      align-items: center;
      @media screen and (max-width: 992px) {
        width: 100%;
        justify-content: start;
          
        }   
   
      .prod_imgCompra{
        
        padding-right: 5%;

        @media screen and (max-width: 992px) {
          display: flex;
          justify-content: flex-end;
          width: 30%;  
          } 
  
        img{
          width: 100%;

          @media screen and (max-width: 1400px) {
            width: 60px;
          } 

          @media screen and (max-width: 992px) {
            width: 100%;
            
           
          } 
        }
        
      }

      div{
        width: 100%;
        margin-bottom: 5%;
      }
      
    }  
    
  }
}

