
.banner__producto {
 

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assets/Fondo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
   height: 500px;

   h1 {
    color: white;
    font-size: 40px;
    }

}


.cajaProducto {
   
    display: grid;
    grid-template-columns: 0.4fr 0.4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "imagenProducto imagenProducto"
        "imagenProducto imagenProducto"
        "imagenProducto imagenProducto"
        "tituloProducto tituloProducto"
        "precioProducto cartProducto";

    justify-content: center;
}


.imagenProducto {

    grid-area: imagenProducto;
    
}




.imagenStory{

   
    // transition: all 1s;
    animation: Zoom;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: once;

    img{
        width: 100%;
        height: 100%;
     
        &:hover{
            transform: scale(1.1);
             transition: all 1s;
      
        }
    }
}


.tituloProducto {
    grid-area: tituloProducto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

.precioProducto {
    grid-area: precioProducto;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartProducto {
    grid-area: cartProducto;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cartProducto p {
    text-align: center;
}



@media screen and (max-width: 1500px) {

  
    .cards {
        div {
            display: flex;
            justify-content: center;
            align-items: center;        
        }
    }

    .cards {
        gap: 0% 0%;
    }

    .card1 {
        p{
            text-align: center;
        }
       
    }
    
    .card2{
        p{
            text-align: center;
        }

    }
    
    .card3 {
        p{
            text-align: center;
        }
    }

    
    .card4 {
        p{
            text-align: center;
        }
    }
    
    .tituloProducto {
        h1{
            font-size: 25px;
        }
    
    }
}

@media screen and (max-width: 830px) {

    .banner__producto {
        h1 {
            color: white;
            font-size: 30px;
        }    
    
    }


    .tituloProducto{
        h1 {
            font-size: 22px;
        }
    }

    .precioProducto {
        p {
            font-size: 18px;
        }
    }

    .cartProducto {
        p {
            font-size: 18px;
        }
    }


}


@media screen and (max-width: 600px) {

    .info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  

     .tituloContacto {
        h1 {
            font-size: 25px;
        }

        h4 {
            font-size: 16px;
        }
     }

     .visit {
        h2 {
            font-size: 20px;
        }
     }

     .visit{
        h4 {
            font-size: 12px;
        }
     }

     .talk {
        h2 {
            font-size: 20px;
        }

        h4 {
            font-size: 12px;
        }
     }

     .working{
        h2 {
            font-size: 20px;
        }

        .working h4 {
            font-size: 12px;
        }
   
     }

     
    textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {

    .banner__producto {
        h1 {
            font-size: 25px;
        }
    }


    .tituloProducto {
        h1 {
            font-size: 25px;
        }
    }

    .precioProducto{
        p {
            font-size: 20px;
        }
    }

    .cartProducto {
        p {
            font-size: 20px;

        }
    }


    .imagenProducto img {

        width: 100%;
        height: 100%;
    }
}