 * {
     margin: 0;
     padding: 0;
 }

 html {
     font-size: 62, 5%;
 }

 @keyframes Zoom{
    0% {transform: scale(0);
    }

    100% {transform: scale(1);
    }
 
  }

  @keyframes Blur{
    0% {
      filter:blur(95px);
    
        width: 1px;
        height: 1px;
    }
 
    50% {
     filter:blur(30px);
    }
 
 
    100% {
 
    }
    
  }

header{

    height: 10%;

}


.index_category{
    margin: 30px 0;
}

.index_cat_border{
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
    padding: 0;
    margin: 0 10px;
    

    animation: Zoom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
   animation-iteration-count: once;


  
}

.index_cat_border img{
    filter: blur(2px);
    opacity: 0.5;
    transition: 0.6s ease all;
}

.index_cat_border img:hover{

    transform:
    perspective(800px)
    rotateY(-15deg)
    translateY(-30px)
    rotateX(10deg)
    scale(1);
    filter: blur(0);
    opacity: 1;
 
}

.index_cat_border2{

    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;

}
 .material-icons-round {
     padding-right: 25px;
     font-size: 25px !important;
     color: white;

 }


 .listaNav a {
    font-size: 25px ; 
    padding: 0 20px;
   
    
 }

 
 .index__main {

     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assets/BannerIndex.jpg");
     /* background-image: url("../Assets/Fondo2.jpg");    */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     
     display: flex;
     flex-direction: column;

     justify-content: space-around;
     height: calc(100vh - 10%);

     

 }

 .index__titulo {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 20%;
     animation: Zoom;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
    animation-iteration-count: once;
 
    
 }

 .index__titulo--Tipografia {

     font-family: 'Source Serif 4';
     color: white;
     font-size: 50px;
     text-align: center;

 }

 .index__mainBloque {

     display: flex;
     justify-content: center;
     align-items: center;
     height: 80%;


 }

 .index__mainBloque1 {

     width: 40%;
     
     display: flex;
     flex-direction: column;

     /**Mas que nada centrar el Boton*/
     align-items: center;

 }

 .index__subtitulo--Tipografia {

     text-align: center;
     font-family: 'Hubballi';

     color: white;
     font-style: italic;
     font-size: 40px;
     animation: Zoom;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: once;

 }


 .index__buttonMain {
     background-color: transparent;

     width: 100px;
     border-radius: 30px;
     border-color: coral;
     margin-top: 20px;
     font-size: 22px;
     color: white;
     
 }


 .index__mainBloque2 {

     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;

     animation: Blur;
     animation-duration: 4s;
     animation-timing-function: ease-in-out;
    animation-iteration-count: once;


 }

 model-viewer{
     width: 60%;
     height: 600px;
 
     animation: Blur;
     animation-duration: 4s;
     animation-timing-function: ease-in-out;
    animation-iteration-count: once;
 }


 .index__buttonMain:hover {
     background-color: coral;

 }



 .whatsapp {
     position: fixed;
     bottom: 20px;
     right: 20px;
     width: 80px;
     height: 80px;
     background-image: url("../Assets/WhatsApp-logo.png");
     background-position: center;
     background-size: cover;

 }

 .index_secctionEvents{

    margin-top: 50px;

 }

 

 .container__events {


     display: grid;
     justify-content: space-between;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr;
     gap: 0px 5%;
     grid-auto-flow: row;
     grid-template-areas:
         "caja caja caja";

     padding-bottom: 20px;
     

 }




 .caja {

     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assets/football.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;



     display: grid;

     grid-template-columns: 3fr 7fr;
     grid-template-rows: 1fr 1fr 1fr;

     grid-auto-columns: 1fr;
     grid-auto-rows: 1fr;
     gap: 0px 0px;
     grid-auto-flow: row;
     grid-template-areas:
         "date ."
         "titulo titulo"
         "hora .";

     border: red saddlebrown;
     border-style:solid;


 }

 .caja .date {
     grid-area: date;
     background-color: coral;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 20px;
 }


 .caja .titulo {
     grid-area: titulo;
     color: white;
     display: flex;
     flex-direction: row;
     justify-content: start;
     align-items: center;
     font-size: 15px;
     padding-left: 10px;

 }


 .caja .hora {
     grid-area: hora;
     color: white;
     display: flex;

     flex-direction: row;

     justify-content: center;
     align-items: center;
     font-size: 20px;
 }


 footer {
     display: flex;
     background-color: black;
     justify-content: space-around;
     color: white;
     width: 100%;

 }

 footer p {
     font-size: 30px;
 }


 /******** Inicio Pagina About ******/

 .banner__about {
    grid-area: banner;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assets/Fondo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}


 .material-icons-css{
     color: red;
     font-size: 40px !important;
     
 
 }
 

 .banner__about h1 {
     color: white;
     font-size: 40px;
 }

 .story {
     grid-area: story;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .story p {
     font-size: 30px;
     width: 80%;
 }


 .imagenStory__about {
       display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

 }

 .story2 {
     grid-area: story2;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .story2 p {
     font-size: 30px;
     width: 80%;
 }


 

 .cards {

    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 5% 5%;
    grid-auto-flow: row;
    grid-template-areas:
        "card1 card2"
        "card3 card4";
    grid-area: cards;
    
}

.cards div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
  
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}


.cards div p{
   margin: 2px 0;
}

.card1 p{
   font-size: 20px;
}

.card2 p{
   font-size: 20px;
}

.card3 p{
   font-size: 20px;
}

.card4 p{
   font-size: 20px;
}


 /******* Fin Pagina About *******/




 /**** Inicio Pagina Producto***/

 .banner__producto {
 

     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assets/Fondo2.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

     display: flex;
     justify-content: center;
     align-items: center;
    height: 500px;

 }

 .banner__producto h1 {
     color: white;
     font-size: 40px;
 }


 .cajaProducto {
    
     display: grid;
     grid-template-columns: 0.4fr 0.4fr;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
     gap: 0px 0px;
     grid-auto-flow: row;
     grid-template-areas:
         "imagenProducto imagenProducto"
         "imagenProducto imagenProducto"
         "imagenProducto imagenProducto"
         "tituloProducto tituloProducto"
         "precioProducto cartProducto";

     justify-content: center;
 }


 .imagenProducto {

     grid-area: imagenProducto;
     
 }


 .imagenStory img:hover{
    transform: scale(1.1);

 }


 .imagenStory img{
    width: 100%;
    height: 100%;

    transition: all 1s;
    animation: Zoom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
   animation-iteration-count: once;
  

    
 }


 .tituloProducto {
     grid-area: tituloProducto;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: cornflowerblue;
 }

 .precioProducto {
     grid-area: precioProducto;
     background-color: aquamarine;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .cartProducto {
     grid-area: cartProducto;
     background-color: coral;
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .cartProducto p {
     text-align: center;
 }

 /**** Fin Pagina Producto***/




 /****Inicio Pagina Blog ****/


 .container__blog {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 0.5fr  ;
     grid-auto-columns: 1fr;
     grid-auto-rows: 1fr;
     gap: 0% 0%;
     grid-auto-flow: row;
     grid-template-areas:
         
         ". .";


 }

 .banner__blog {
     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assets/Fondo2.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

 }

 .search_blog{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .search_blog h1{
     border-bottom: dashed;
 }

 .banner__blog h1 {
     color: white;
     font-size: 40px;
 }




 .post__blog {
     display: grid;
     grid-template-columns: 0.5fr;
     grid-template-rows: 0.5fr 0.5fr 0.1fr 0.1fr 0.1fr;
     gap: 0px 0px;
     grid-auto-flow: row;
     grid-template-areas:
         "imagen_post"
         "imagen_post"
         "titulo__post"
         "fecha__post"
         "button__post";
     justify-content: center;

    
 }

 .imagen_post {
     grid-area: imagen_post;
     border: solid black;
 }

 .imagen_post img {
     width: 100%;
     height: auto;
     
 }

 .titulo__post {
     grid-area: titulo__post;
     display: flex;
     justify-content: center;
     align-items: center;
     border-bottom: solid black ;
     border-left: solid black ;
     border-right: solid black ;;
     
 }

 .titulo__post h1 {
     text-align: center;
 }

 .fecha__post {
     grid-area: fecha__post;
     display: flex;
     justify-content: center;
     align-items: center;
     border-bottom: solid black ;
     border-left: solid black ;
     border-right: solid black ;
     background-color: rgba(255, 127, 80, 0.685);
     
 }

 .button__post {
     grid-area: button__post;
     display: flex;
     justify-content: center;
     align-items: center;
     border-bottom: solid black ;
     border-left: solid black ;
     border-right: solid black ;
     background-color: rgba(128, 128, 128, 0.342);
     color: white;
   
 }
 /***Fin Blog ***/


 

 /*** Para Pagina Contacto **/
.mapa{
    height: 600px ;
}

 .info {
     grid-area: info;
     display: flex;
     justify-content: center;


 }

 .info div {

     width: 280px;
     height: 150px;
     background-color: white;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: -50px;

 }

 .visit h2 {
     font-size: 25px;
 }

 .visit h4 {
     font-size: 16px;
 }

 .talk h2 {
     font-size: 25px;
 }

 .talk h4 {
     font-size: 16px;
 }

 .working h2 {
     font-size: 25px;
 }

 .working h4 {
     font-size: 16px;
 }

 .contacto {
  
     grid-area: Contacto;
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     flex-wrap: wrap;



 }

 .tituloContacto {
     grid-area: titulo;
     width: 90%;
     margin: 30px auto;

 }

 .tituloContacto h1 {
     font-size: 30px;
 }

 .tituloContacto h4 {
     font-size: 18px;
 }


 .imagenContacto {

     grid-area: imagenContacto;
     display: flex;
     justify-content: center;

 }

 .imagenContacto img {
     width: 80%;
    height: auto;

 }


 /******* Media Queries *******/

 @media screen and (max-width: 1500px) {


 
     .container__events {


         display: grid;
         justify-items: center;
         align-items: center;

         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr 1fr;
         grid-auto-columns: 1fr;
         grid-auto-rows: 1fr;
         gap: 20px 0px;
         grid-auto-flow: column;
         grid-template-areas:
             "caja"
             "caja"
             "caja";

     }


  
    .cards div {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
     
       
    }

    .cards {
        gap: 0% 0%;
    }

    .card1 p{
        text-align: center;
    }
    
    .card2 p{

        text-align: center;
    }
    
    .card3 p{
        text-align: center;
    }
    
    .card4 p{
        text-align: center;
    }
    
    .tituloProducto h1{
        font-size: 25px;
    }



 
.contacto_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imagenContacto  {
    width: 100%;


}

     textarea {
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;
         width: 100%;
     }

 }



 @media screen and (max-width: 830px) {

    
    .index__mainBloque{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }

    
    .index__mainBloque1 {
        width: 80%;
    } 


     .index__titulo--Tipografia {
         font-size: 40px;
     }

     .index__subtitulo--Tipografia {
         font-size: 30px;

     }
     model-viewer{
        width: 90%;
        height: 300px;
     }
    

     .banner__about {
        height: 300px;
     }
     .imagenStory__about img {
         width: 50%;
     }

     .story p {
        font-size: 20px;
    
    }
    .story2 p {
        font-size: 20px;
    
    }



     .banner__producto h1 {
         color: white;
         font-size: 30px;
     }


     .tituloProducto h1 {
         font-size: 22px;
     }

     .precioProducto p {
         font-size: 18px;
     }

     .cartProducto p {
         font-size: 18px;


     }



     /* textarea {
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;
         width: 100%;
     } */
 }

 @media screen and (max-width: 768px) {
    .index_cat_border{
  
     margin: 10px;


    }

    .index_cat_centrar{
  
 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

   
       }
 }

 @media screen and (max-width: 600px) {
     
  

     .index__titulo--Tipografia {
         font-size: 35px;
     }

     .index__subtitulo--Tipografia {
         font-size: 25px;

     }

     .index__mainBloque2 {
        width: 80%;
    }
     model-viewer{
      
        height: 280px;
     }
    

    


     .banner__blog {

       height: 20vh;
   
    }
     .container__blog {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr;
         grid-auto-columns: 1fr;
         grid-auto-rows: 1fr;
         gap: 2% 2%;
         grid-auto-flow: row;
         grid-template-areas:
             
             ". "
             ". ";
             
     }
   

     /* .container__Contacto {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr  1fr auto  1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0%;
        grid-auto-flow: column;
        grid-template-areas:
            "mapa "
            "info"
             "titulo"
            "Contacto";
    } */

    .info {
        grid-area: info;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  

     .tituloContacto h1 {
         font-size: 25px;
     }

     .tituloContacto h4 {
         font-size: 16px;
     }

     .visit h2 {
         font-size: 20px;
     }

     .visit h4 {
         font-size: 12px;
     }

     .talk h2 {
         font-size: 20px;
     }

     .talk h4 {
         font-size: 12px;
     }

     .working h2 {
         font-size: 20px;
     }

     .working h4 {
         font-size: 12px;
     }

    textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
} 

 

 @media screen and (max-width: 320px) {


 

    .index__titulo--Tipografia {
        font-size: 25px;
    }

    .index__subtitulo--Tipografia {
        font-size: 20px;

    }

 
    model-viewer{
       
       height: 250px;
    }
   


     .material-icons-round {
         padding-right: 20px;
         font-size: 20px !important;

     }


  
     footer {
         display: flex;
         flex-direction: column;
         background-color: black;
         justify-content: center;
         align-items: center;
         color: white;
         width: 100%;


     }

     .banner__about h1 {
         color: white;
         font-size: 30px;
     }

     .story p {
         font-size: 20px;
         text-align: center;

     }

     .story2 p {
         font-size: 20px;
         text-align: center;

     }

     .cards div h1 {
         font-size: 15px;
     }

     .cards {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         gap: 0px 0px;
         grid-auto-flow: row;
         grid-template-areas:
             "card1"
             "card2"
             "card3"
             "card4";
         grid-area: cards;
     }


     .banner__producto h1 {
         font-size: 25px;
     }


     .tituloProducto h1 {
         font-size: 25px;
     }

     .precioProducto p {
         font-size: 20px;
     }

     .cartProducto p {
         font-size: 20px;


     }


     .imagenProducto img {

         width: 100%;
         height: 100%;
     }

     .banner__blog h1 {

         font-size: 25px;
     }

     .titulo__post h1 {
         font-size: 20px;
     }

     .fecha__post p {
         font-size: 15px;
     }

     .button__post p {
         font-size: 15px;
     }




     .tituloContacto h1 {
        font-size: 20px;
    }

    .tituloContacto h4 {
        font-size: 12px;
    }

    .visit h2 {
        font-size: 15px;
    }

    .visit h4 {
        font-size: 10px;
    }

    .talk h2 {
        font-size: 15px;
    }

    .talk h4 {
        font-size: 10px;
    }

    .working h2 {
        font-size: 15px;
    }

    .working h4 {
        font-size: 10px;
    }


    .info div {

        width: 160px;
        height: 200px;
        background-color: white;
        /* border-style: dashed; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
   
    }

    input{ 
        width:100%;
        padding: 0px;
        border:1px solid black;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
      font-size: 5px;
    }

    label{
        font-size: 5px;
    }

 
 }

 
 @media screen and (max-width: 160px) {


     .material-icons-round {

         font-size: 15px !important;

     }

   
     .index__titulo--Tipografia {
        font-size: 20px;
    }

    .index__subtitulo--Tipografia {
        font-size: 15px;

    }
    model-viewer{

       height: 180px;
    }
   
 

     footer p {
         font-size: 10px;
     }

     .whatsapp {
         display: none;
     }


     .banner__about h1 {
         color: white;
         font-size: 20px;
     }

     .story p {
         font-size: 12px;
       

     }

     .story2 p {
         font-size: 12px;
    
     }

     .cards div h1 {
         font-size: 12px;
     }


     .info div {

        width: 80px;
        height: 180px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
   
    }

    .tituloContacto h1 {
        font-size: 12px;
    }

    .option1{
        font-size: 3px;
    }
 }


 @media screen and (max-width: 110px) {
 
     .material-icons-round {
         /* padding-right: 20px; */
         font-size: 8px !important;

     }

     .index__titulo--Tipografia {
         font-size: 10px;
     }

     .index__subtitulo--Tipografia {
         font-size: 10px;

     }


     .index__buttonMain {
         background-color: transparent;

         width: 25px;
         border-radius: 10px;
         margin-top: 5px;
         font-weight: bold;
         font-size: 10px;
     }



     .banner__about h1 {
         color: white;
         font-size: 10px;
     }

     .story p {
         font-size: 8px;
         text-align: center;

     }

     .story2 p {
         font-size: 8px;
         text-align: center;

     }

     .cards div h1 {
         font-size: 8px;
     }



     .banner__producto h1 {
         font-size: 15px;
     }

     .card1 p{
        font-size: 10px;
    }
    
    .card2 p{
        font-size: 10px;
    }
    
    .card3 p{
        font-size: 10px;
    }
    
    .card4 p{
        font-size: 10px;
    }
    
    


     .tituloProducto h1 {
         font-size: 15px;
     }

     .precioProducto p {
         font-size: 10px;
     }

     .cartProducto p {
         font-size: 10px;


     }

     .banner__blog h1 {

         font-size: 10px;
     }


     .titulo__post h1 {
         font-size: 10px;
     }

     .fecha__post p {
         font-size: 8px;
     }

     .button__post p {
         font-size: 8px;
     }


     .info div {

        width: 40px;
        height: 120px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
   
    }

    .tituloContacto h1{
        font-size: 8px;
    }

    .tituloContacto h4{
        font-size: 8px;
    }
    .visit h2{
        font-size: 10px;
    }

    .visit h4{
        font-size: 5px;
    }

    .talk h2{
        font-size: 10px;
    }

    .talk h4{
        font-size: 5px;
    }

    .working h2{
        font-size: 5px;
    }

    .working h4{
        font-size: 5px;
    }

 }

