* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62, 5%; }

@keyframes Zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes Blur {
  0% {
    filter: blur(95px);
    width: 1px;
    height: 1px; }
  50% {
    filter: blur(30px); } }

@media screen and (max-width: 576px) {
  header nav img {
    width: 50%; } }

.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end; }

footer {
  background-color: black; }
  footer div {
    display: flex;
    justify-content: space-between;
    color: white; }
    @media screen and (max-width: 768px) {
      footer div {
        flex-direction: column;
        align-items: center; } }
  footer p {
    font-size: 30px; }

.index__main {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.1)), url("../Assets/BannerIndex.jpg");
  /* background-image: url("../Assets/Fondo2.jpg");    */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 80px); }

.index__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: Zoom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: once; }

.index__titulo--Tipografia {
  font-family: 'Source Serif 4';
  color: white;
  font-size: 3em;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .index__titulo--Tipografia {
      font-size: 2.5em; } }
  @media screen and (max-width: 768px) {
    .index__titulo--Tipografia {
      font-size: 2.5em; } }
  @media screen and (max-width: 576px) {
    .index__titulo--Tipografia {
      font-size: 2em; } }

.index__mainBloque {
  max-width: 1920;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%; }
  @media screen and (max-width: 992px) {
    .index__mainBloque {
      flex-direction: column;
      justify-content: space-evenly; } }

.index__mainBloque1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  /**Mas que nada centrar el Boton*/
  align-items: center;
  flex-wrap: wrap; }
  @media screen and (max-width: 992px) {
    .index__mainBloque1 {
      width: 100%; } }

.index__subtitulo--Tipografia {
  text-align: center;
  font-family: 'Hubballi';
  color: white;
  font-style: italic;
  font-size: 2.5em;
  animation: Zoom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: once;
  margin: 0; }
  @media screen and (max-width: 992px) {
    .index__subtitulo--Tipografia {
      font-size: 2em; } }
  @media screen and (max-width: 768px) {
    .index__subtitulo--Tipografia {
      font-size: 2em; } }
  @media screen and (max-width: 576px) {
    .index__subtitulo--Tipografia {
      font-size: 1.5em; } }

.index__buttonMain:hover {
  background-color: coral;
  border: inherit;
  color: white; }

.index__buttonMain {
  color: white;
  border: coral solid 1px !important;
  border-radius: 30px;
  width: 100px;
  box-shadow: 6px 10px 10px black; }

.index__mainBloque2 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: Blur;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: once; }

model-viewer {
  width: 50%;
  height: 50vh;
  animation: Blur;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: once; }
  @media screen and (max-width: 992px) {
    model-viewer {
      width: 100%;
      height: 40vh; } }

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-image: url("../Assets/WhatsApp-logo.png");
  background-position: center;
  background-size: cover; }

.seccion_margen {
  max-width: 1920px;
  width: 80%;
  margin: 2% auto;
  margin-bottom: inherit;
  outline: 0; }

.row_cat {
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
  display: flex; }
  @media screen and (max-width: 992px) {
    .row_cat {
      flex-wrap: wrap;
      justify-content: space-between; } }
  .row_cat .col_cat {
    outline: 1px solid #eeeeee;
    margin: 0 0.5%; }
    .row_cat .col_cat img {
      width: 100%;
      height: auto; }
    @media screen and (max-width: 992px) {
      .row_cat .col_cat {
        width: 49%;
        margin: 0.5% 0.5%; } }
  .row_cat .col_cat_inicial {
    margin-left: inherit; }
  .row_cat .col_cat_ultimo {
    margin-right: inherit; }

.index_container_events {
  max-width: 1920;
  width: 80%;
  margin: 0 auto; }
  .index_container_events .container__events {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "caja caja caja"; }
    @media screen and (max-width: 992px) {
      .index_container_events .container__events {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 10px 5%;
        grid-auto-flow: row;
        grid-template-areas: "caja caja" "caja caja"; } }
    @media screen and (max-width: 576px) {
      .index_container_events .container__events {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 10px 5%;
        grid-auto-flow: row;
        grid-template-areas: "caja " "caja" "caja"; } }

.caja {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assets/football.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "date ." "titulo titulo" "hora .";
  border-style: solid; }
  .caja:hover {
    transform: perspective(800px) rotateY(-15deg) translateY(-30px) rotateX(10deg) scale(1);
    filter: blur(0);
    transition: all 1s;
    opacity: 1; }
  .caja .date {
    grid-area: date;
    background-color: coral;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px; }
  .caja .titulo {
    grid-area: titulo;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 15px;
    padding-left: 10px; }
  .caja .hora {
    grid-area: hora;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px; }

.banner__about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assets/Fondo2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px; }

.banner__about h1 {
  color: white;
  font-size: 40px; }
  @media screen and (max-width: 320px) {
    .banner__about h1 {
      font-size: 25px; } }
  @media screen and (max-width: 160px) {
    .banner__about h1 {
      font-size: 10px; } }

@media screen and (max-width: 830px) {
  .banner__about {
    height: 300px; } }

@media screen and (max-width: 830px) {
  .imagenStory__about img {
    width: 50%; } }

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .story p {
    font-size: 30px;
    width: 80%; }
    @media screen and (max-width: 830px) {
      .story p {
        font-size: 20px; } }
    @media screen and (max-width: 160px) {
      .story p {
        font-size: 10px; } }

.imagenStory__about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.story2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .story2 p {
    width: 80%;
    font-size: 30px;
    text-align: justify; }
    @media screen and (max-width: 830px) {
      .story2 p {
        font-size: 20px; } }
    @media screen and (max-width: 160px) {
      .story2 p {
        font-size: 10px; } }

.material-icons-red {
  color: red;
  font-size: 40px !important; }
  @media screen and (max-width: 160px) {
    .material-icons-red {
      font-size: 20px !important; } }

.material-icons-yellow {
  color: yellow;
  font-size: 40px !important; }
  @media screen and (max-width: 160px) {
    .material-icons-yellow {
      font-size: 20px !important; } }

.material-icons-pink {
  color: pink;
  font-size: 40px !important; }
  @media screen and (max-width: 160px) {
    .material-icons-pink {
      font-size: 20px !important; } }

.material-icons-blue {
  color: blue;
  font-size: 40px !important; }
  @media screen and (max-width: 160px) {
    .material-icons-blue {
      font-size: 20px !important; } }

.about_cards {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 5% 5%;
  grid-auto-flow: row;
  grid-template-areas: "card1 card2" "card3 card4"; }
  @media screen and (max-width: 320px) {
    .about_cards {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas: "card1" "card2" "card3" "card4"; } }

.about_card1, .about_card2, .about_card3, .about_card4 {
  grid-area: card1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media screen and (max-width: 320px) {
    .about_card1, .about_card2, .about_card3, .about_card4 {
      align-items: center; } }
  @media screen and (max-width: 160px) {
    .about_card1 h2, .about_card2 h2, .about_card3 h2, .about_card4 h2 {
      font-size: 12px; } }
  .about_card1 p, .about_card2 p, .about_card3 p, .about_card4 p {
    font-size: 20px; }
    @media screen and (max-width: 160px) {
      .about_card1 p, .about_card2 p, .about_card3 p, .about_card4 p {
        font-size: 8px; } }

.about_card2 {
  grid-area: card2; }
  @media screen and (max-width: 320px) {
    .about_card2 {
      align-items: center; } }
  @media screen and (max-width: 160px) {
    .about_card2 h2 {
      font-size: 12px; } }
  .about_card2 p {
    font-size: 20px;
    margin: 2px 0; }
    @media screen and (max-width: 160px) {
      .about_card2 p {
        font-size: 8px; } }

.about_card3 {
  grid-area: card3; }
  @media screen and (max-width: 320px) {
    .about_card3 {
      align-items: center; } }
  @media screen and (max-width: 160px) {
    .about_card3 h2 {
      font-size: 12px; } }
  .about_card3 p {
    font-size: 20px;
    margin: 2px 0; }
    @media screen and (max-width: 160px) {
      .about_card3 p {
        font-size: 8px; } }

.about_card4 {
  grid-area: card4; }
  @media screen and (max-width: 320px) {
    .about_card4 {
      align-items: center; } }
  @media screen and (max-width: 160px) {
    .about_card4 h2 {
      font-size: 12px; } }
  .about_card4 p {
    font-size: 20px;
    margin: 2px 0; }
    @media screen and (max-width: 160px) {
      .about_card4 p {
        font-size: 8px; } }

.prod_color {
  background-color: #f4f2f2; }

.banner__producto {
  background-image: url("../Assets/Fondo2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; }
  .banner__producto h1 {
    color: white;
    font-size: 40px; }

.container_prod {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
  padding: 40px 0; }
  @media screen and (max-width: 992px) {
    .container_prod {
      flex-direction: column; } }
  .container_prod .row_cat_prod {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    outline: 1px solid #eeeeee;
    background-color: white;
    align-content: baseline; }
    .container_prod .row_cat_prod .col_cat_prod {
      margin: 2% 2%;
      width: 26%; }
      .container_prod .row_cat_prod .col_cat_prod .prod_marco {
        outline: 2px solid #eeeeee; }
        .container_prod .row_cat_prod .col_cat_prod .prod_marco .prod_img {
          position: relative;
          width: 100%; }
          .container_prod .row_cat_prod .col_cat_prod .prod_marco .prod_img:hover .prod_quickView {
            display: inherit;
            position: absolute;
            top: 40%;
            right: 25%;
            left: 25%;
            background-color: rgba(255, 255, 255, 0.736);
            color: black;
            padding: 15px;
            font-size: 1.0em;
            text-align: center;
            font-weight: 400; }
            @media screen and (max-width: 1400px) {
              .container_prod .row_cat_prod .col_cat_prod .prod_marco .prod_img:hover .prod_quickView {
                right: 18%;
                left: 18%; } }
            @media screen and (max-width: 992px) {
              .container_prod .row_cat_prod .col_cat_prod .prod_marco .prod_img:hover .prod_quickView {
                right: 25%;
                left: 25%;
                font-size: 1.2em; } }
            @media screen and (max-width: 320px) {
              .container_prod .row_cat_prod .col_cat_prod .prod_marco .prod_img:hover .prod_quickView {
                font-size: 0.8em; } }
          .container_prod .row_cat_prod .col_cat_prod .prod_marco .prod_img img {
            width: 100%;
            height: auto; }
          .container_prod .row_cat_prod .col_cat_prod .prod_marco .prod_img .prod_quickView {
            display: none; }
      @media screen and (max-width: 992px) {
        .container_prod .row_cat_prod .col_cat_prod {
          width: 46%; } }
      @media screen and (max-width: 768px) {
        .container_prod .row_cat_prod .col_cat_prod {
          width: 80%; } }
  .container_prod .sale_produc {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 14px; }

.prod_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px; }
  .prod_cart .prod_price {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 1400px) {
      .prod_cart .prod_price {
        width: 100%;
        flex-wrap: wrap; } }
    @media screen and (max-width: 992px) {
      .prod_cart .prod_price {
        width: inherit;
        flex-wrap: inherit; } }
    @media screen and (max-width: 576px) {
      .prod_cart .prod_price {
        width: 100%;
        flex-wrap: wrap; } }
  .prod_cart .prod_priceBefore {
    text-decoration: line-through; }
  .prod_cart .prod_priceCurrently {
    margin-left: 2%;
    font-size: 1.1em;
    color: red; }
  .prod_cart .prod_addCart {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    outline: 0;
    border: 0; }
    .prod_cart .prod_addCart:hover {
      background-color: red;
      color: white;
      font-weight: 750;
      word-wrap: break-word; }

.prod_segundaSeccion {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  width: 35%;
  margin-left: 2%;
  padding: 2% 2%;
  background-color: white; }
  @media screen and (max-width: 1800px) {
    .prod_segundaSeccion {
      width: 40%; } }
  @media screen and (max-width: 1600px) {
    .prod_segundaSeccion {
      width: 55%; } }
  @media screen and (max-width: 1400px) {
    .prod_segundaSeccion {
      width: 65%; } }
  @media screen and (max-width: 1200px) {
    .prod_segundaSeccion {
      width: 95%; } }
  @media screen and (max-width: 992px) {
    .prod_segundaSeccion {
      margin-left: inherit;
      margin-top: 3%;
      width: 100%; } }
  .prod_segundaSeccion .primerArticuloJS {
    padding: 0; }
    .prod_segundaSeccion .primerArticuloJS .prod_cajaDetalle {
      display: flex;
      align-items: center;
      margin-bottom: 3%;
      padding-bottom: 3%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
      @media screen and (max-width: 992px) {
        .prod_segundaSeccion .primerArticuloJS .prod_cajaDetalle {
          width: 100%;
          justify-content: start; } }
      .prod_segundaSeccion .primerArticuloJS .prod_cajaDetalle .prod_imgCompra {
        padding-right: 5%;
        width: 100px;
        position: relative; }
        @media screen and (max-width: 992px) {
          .prod_segundaSeccion .primerArticuloJS .prod_cajaDetalle .prod_imgCompra {
            display: flex;
            justify-content: flex-end;
            width: 30%; } }
        .prod_segundaSeccion .primerArticuloJS .prod_cajaDetalle .prod_imgCompra img {
          width: 100%; }

.prodEliminaCss {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  color: red;
  padding-top: 0;
  padding-bottom: 1px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 14px;
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  border-color: white;
  border: 0px solid; }
  .prodEliminaCss:hover {
    background-color: rgba(255, 0, 0, 0.952);
    color: white;
    border-radius: 10px;
    font-weight: 750; }

.prodEliminaCartCss {
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: red;
  padding-top: 0;
  padding-bottom: 1px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
  border: 0px solid; }
  .prodEliminaCartCss:hover {
    background-color: rgba(255, 0, 0, 0.952);
    color: white;
    border-radius: 10px;
    font-weight: 750; }

.prodMiniCart {
  display: flex;
  width: 100%; }
  .prodMiniCart .prdViewCart {
    font-size: 1.2em;
    font-weight: 500;
    border: 1px solid;
    border-color: #ef3f49;
    border-radius: 1px;
    color: #ef3f49;
    text-align: center;
    padding: 2% 6%;
    margin-right: 3%;
    background: transparent; }
    @media screen and (max-width: 1400px) {
      .prodMiniCart .prdViewCart {
        font-size: 1.0em; } }
    @media screen and (max-width: 992px) {
      .prodMiniCart .prdViewCart {
        font-size: 1.2em; } }
    .prodMiniCart .prdViewCart:hover {
      background-color: rgba(255, 0, 0, 0.952);
      color: white;
      font-weight: 550; }
  .prodMiniCart .prdViewCheckOut {
    font-size: 1.2em;
    font-weight: 500;
    border: 1px solid;
    border-color: #ef3f49;
    border-radius: 1px;
    color: #ef3f49;
    text-align: center;
    background: transparent;
    padding: 2% 8%; }
    @media screen and (max-width: 1400px) {
      .prodMiniCart .prdViewCheckOut {
        font-size: 1.0em; } }
    @media screen and (max-width: 992px) {
      .prodMiniCart .prdViewCheckOut {
        font-size: 1.2em; } }
    .prodMiniCart .prdViewCheckOut:hover {
      background-color: rgba(255, 0, 0, 0.952);
      color: white;
      font-weight: 550; }

.prod_colorLetraCart {
  color: #888888; }

.banner__blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assets/Fondo2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; }
  .banner__blog h1 {
    color: white;
    font-size: 40px; }

.container__blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0% 0%;
  grid-auto-flow: row;
  grid-template-areas: ". .";
  margin: 20px 0; }

.post__blog {
  display: grid;
  grid-template-columns: 0.5fr;
  grid-template-rows: 0.5fr 0.5fr 0.1fr 0.1fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "imagen_post" "imagen_post" "titulo__post" "fecha__post" "button__post";
  justify-content: center; }

.imagen_post {
  grid-area: imagen_post;
  border: solid black; }
  .imagen_post img {
    width: 100%;
    height: auto; }

.titulo__post {
  grid-area: titulo__post;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black;
  border-left: solid black;
  border-right: solid black; }
  .titulo__post h1 {
    text-align: center; }

.fecha__post {
  grid-area: fecha__post;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black;
  border-left: solid black;
  border-right: solid black;
  background-color: rgba(255, 127, 80, 0.685); }

.button__post {
  grid-area: button__post;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black;
  border-left: solid black;
  border-right: solid black;
  background-color: rgba(128, 128, 128, 0.342);
  color: white; }

.search_blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .search_blog h2 {
    border-bottom: dashed; }

.mapa {
  height: 600px; }

.contact_info {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .contact_info {
      flex-direction: column;
      align-items: center; } }
  .contact_info .visit, .contact_info .talk, .contact_info .working {
    width: 280px;
    height: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px; }
    @media screen and (max-width: 768px) {
      .contact_info .visit, .contact_info .talk, .contact_info .working {
        margin-top: inherit;
        border-bottom: 1px solid; } }

.tituloContacto {
  margin: 3% auto; }
  @media screen and (max-width: 768px) {
    .tituloContacto {
      margin-top: 10%; } }

.banner__cart {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../Assets/Fondo2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; }
  .banner__cart h1 {
    color: white;
    font-size: 40px; }

.cart_segundaSeccion {
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
  padding: 40px 0; }

.cuadrar {
  display: flex;
  align-items: center;
  height: 10vh; }

.cartImagen {
  width: 80px; }

.eliminarCart {
  background-color: rgba(255, 255, 255, 0.8);
  color: red;
  width: 20px;
  font-size: 10x;
  text-align: center;
  border-radius: 10px; }
  .eliminarCart:hover {
    background-color: rgba(255, 0, 0, 0.952);
    color: white;
    border-radius: 10px;
    font-weight: 750; }

.bag_container {
  display: flex;
  justify-content: start;
  max-width: 1920px;
  width: 80%;
  margin: 0 auto; }

.bag_row_1 {
  width: 50%; }
  .bag_row_1 img {
    width: 100%; }

.bag_row_2 {
  width: 50%;
  padding-left: 50px; }
  .bag_row_2 .bag_col_title {
    font-size: xx-large; }
  .bag_row_2 .bag_col_precio {
    font-size: larger;
    margin-bottom: 3%; }
  .bag_row_2 .bag_col_color {
    margin-bottom: 3%; }
  .bag_row_2 .bag_col_cantidad {
    margin-bottom: 3%; }
  .bag_row_2 .bag_col_addCart {
    margin-bottom: 3%; }
  .bag_row_2 .bag_col_Detalles {
    font-size: large;
    margin-bottom: 1%; }
